$color-primary-light: #eea849;
$color-primary-orange: #f4976c;
$color-primary-yellow: #fbe8a6;
$color-primary-dark-blue: #303c6c;
$color-primary-medium-blue: #b4dfe5;
$color-primary-light-blue: #d2fdff;
$color-error: #b23850;

$color-primary: #f46b45;
$color-yellow: #f2b632;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-blue: #1081e0;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-green-valid: #23dc3d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-bluegrey-1: rgba(236, 240, 241, 1);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-math: #00a572;
$color-addit: #ffcf43;
$color-subst: #5ce0d8;
$color-mult: #fe4a49;
$color-divis: #0d9edf;
