.section-end-test {
  //margin-top: 6rem;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  &-h1 {
    font-size: 3rem;
  }
}
